.about {
  .about_container {
    row-gap: 2rem;
  }
  .about_img {
    width: 280px;
    justify-self: center;
  }
  .about_title {
    margin-bottom: $mb-1;
  }
  .about_description {
    margin-bottom: $mb-2;
  }
  .about_details {
    display: grid;
    row-gap: 1rem;
    margin-bottom: $mb-2-5;

    &-description {
      display: inline-flex;
      column-gap: 0.5rem;
      font-size: $small-font-size;
    }
    &-icon {
      font-size: 1rem;
      color: $first-color;
      margin-top: 0.15rem;
    }
  }
}

/* For large devices */
@media screen and (min-width: 992px) {
  .about_img {
    width: 380px;
  }
}

@media screen and (min-width: 1200px) {
  .about_container {
    column-gap: 7rem;
  }
}
