* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: $body-font;
  font-size: $normal-font-size;
}

body {
  margin: $header-height 0 0 0;
  background-color: $body-color;
  color: $text-color;
  transition: 0.4s; // For animation dark mode
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: $title-color;
  font-weight: $font-semi-bold;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 5.5rem 0 1rem;

  &__title,
  &__title-center {
    font-size: $h2-font-size;
    margin-bottom: $mb-2;
    line-height: 140%;

    &-center {
      text-align: center;
    }
  }
}

.container {
  max-width: 968px;
  margin-left: $mb-1-5;
  margin-right: $mb-1-5;
}

.grid {
  display: grid;
}

.main {
  overflow: hidden; // For animation
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
}

// Buttons
.button {
  display: inline-block;
  background-color: $first-color;
  color: #fff;
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  font-weight: $font-medium;
  transition: 0.3s;

  &:hover .button__icon {
    transform: translateX(0.25rem);
  }

  &:hover {
    background-color: $first-color-alt;
  }

  &__icon {
    transition: 0.3s;
  }

  &--flex {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
  }

  &--link {
    color: $first-color;
    font-weight: $font-medium;

    &:hover .button__icon {
      transform: translateX(0.25rem);
    }
  }
}

@media screen and (max-width: 320px) {
  .container {
    margin-left: $mb-1;
    margin-right: $mb-1;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .home_container,
  .about_container,
  .questions_container,
  .contact_container,
  .footer_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

// For large devices
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 8rem 0 1rem;

    &__title,
    &__title-center {
      font-size: $h1-font-size;
    }
  }
}
