.products {
  .product_description {
    text-align: center;
  }
  .product_container {
    padding: 3rem 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem 3rem;
  }
  .product_card {
    display: grid;
    position: relative;

    &:hover .product_img {
      transform: translateY(-0.5rem);
    }
  }
  .product_img {
    position: relative;
    width: 120px;
    justify-self: center;
    margin-bottom: $mb-0-75;
    transition: 0.3s;
  }
  .product_title,
  .product_price {
    font-size: $small-font-size;
    font-weight: $font-semi-bold;
    color: $title-color;
  }
  .product_title {
    margin-bottom: 0.25rem;
  }
  .product_button {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $first-color;
    color: #fff;
    padding: 0.25rem;
    border-radius: 0.35rem;
    font-size: 1.15rem;

    &:hover {
      background-color: $first-color-alt;
    }
  }
  .product_circle {
    width: 90px;
    height: 90px;
    background-color: $first-color-lighten;
    border-radius: 50%;
    position: absolute;
    top: 18%;
    left: 5%;
  }
}
