/*=============== STEPS ===============*/
.steps {
  .steps_bg {
    background-color: $first-color;
    padding: 3rem 2rem 2rem;
    border-radius: 1rem;

    .steps_title {
      color: #fff;
    }

    .steps_container {
      gap: 2rem;
      padding-top: 1rem;

      .steps_card {
        background-color: $container-color;
        padding: 2.5rem 3rem 2rem 1.5rem;
        border-radius: 1rem;

        &:hover .steps_card-number {
          transform: translateY(-0.25rem);
        }

        .steps_card-number {
          display: inline-block;
          background-color: $first-color-alt;
          color: #fff;
          padding: 0.5rem 0.75rem;
          border-radius: 0.25rem;
          font-size: $h2-font-size;
          margin-bottom: $mb-1-5;
          transition: 0.3s;
        }
        .steps_card-title {
          font-size: $h3-font-size;
          margin-bottom: $mb-0-5;
        }
        .steps_card-description {
          font-size: $small-font-size;
        }
      }
    }
  }
}
